
@font-face {
    font-family: 'kulturista-web';
    font-weight: 400;
    src: url('fonts/kulturista-medium.eot');
    src: url('fonts/kulturista-medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/kulturista-medium.woff2') format('woff2'),
    url('fonts/kulturista-medium.woff') format('woff'),
    url('fonts/kulturista-medium.svg#Kulturista') format('svg');
}

@font-face {
    font-family: 'kulturista-web';
    font-weight: 600;
    src: url('fonts/kulturista-semibold.eot');
    src: url('fonts/kulturista-semibold.eot?#iefix') format('embedded-opentype'),
    url('fonts/kulturista-semibold.woff2') format('woff2'),
    url('fonts/kulturista-semibold.woff') format('woff'),
    url('fonts/kulturista-semibold.svg#Kulturista') format('svg');
}

@font-face {
    font-family: 'kulturista-web';
    font-weight: 700;
    src: url('fonts/kulturista-bold.eot');
    src: url('fonts/kulturista-bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/kulturista-bold.woff2') format('woff2'),
    url('fonts/kulturista-bold.woff') format('woff'),
    url('fonts/kulturista-bold.svg#Kulturista') format('svg');
}


body, html {
    font-family: "kulturista-web", serif;
    background-color: #E63C43;
}