.version.index {
    color: #00001C;
    background-color: #EE21D2;
}
#page {
    z-index: 1;
    background-image: none;
    width: 100%;
    background-color: transparent;
    margin-left: auto;
    border-width: 0px;
    border-color: #000000;
    padding-bottom: 20px;
    margin-right: auto;
}
#u6137 {
    z-index: 91;
    background-color: transparent;
    position: relative;
}
#u6138 {
    z-index: 92;
    width: 100%;
    display: block;
}
#u5854 {
    z-index: 81;
    background-color: transparent;
    position: relative;
}
#u5855 {
    z-index: 82;
    width: 100%;
    display: block;
}
#u5771 {
    z-index: 77;
    background-color: transparent;
    position: relative;
}
#u5769 {
    z-index: 78;
    width: 100%;
    display: block;
}
#u5808 {
    z-index: 79;
    background-color: transparent;
    position: relative;
}
#u5809 {
    z-index: 80;
    width: 100%;
    display: block;
}
#u101-6 {
    top: 20px;
    font-family: kulturista-web, serif;
    font-weight: 600;
    text-align: left;
    z-index: 6;
    background-color: transparent;
    color: #0E173E;
    position: fixed;
}
#u101-2 {
    color: #0F183F;
}
#u6009-4 {
    font-family: kulturista-web, serif;
    font-weight: 400;
    margin-right: -10000px;
    z-index: 87;
    background-color: transparent;
    color: #0F183F;
    position: relative;
}
#u2743-4 {
    font-family: kulturista-web, serif;
    font-weight: 400;
    text-align: center;
    z-index: 16;
    background-color: transparent;
    color: #FFFFFF;
    position: relative;
}
#u319-4 {
    font-family: kulturista-web, serif;
    font-weight: 400;
    text-align: center;
    z-index: 12;
    background-color: transparent;
    color: #FFFFFF;
    position: relative;
}
#u136 {
    z-index: 20;
    background-color: transparent;
    position: relative;
}
#u134 {
    z-index: 21;
    width: 100%;
    display: block;
}
#pu1107 {
    z-index: 71;
    margin-right: -10000px;
}
#u1107 {
    z-index: 71;
    background-color: transparent;
    position: relative;
}
#u1108 {
    z-index: 72;
    display: block;
}
#u94-4 {
    font-family: kulturista-web, serif;
    margin-left: 50%;
    font-weight: 700;
    text-align: center;
    z-index: 2;
    background-color: transparent;
    color: #0F183F;
    position: relative;
}
#u4253 {
    z-index: 22;
    background-color: transparent;
    border-width: 0px;
    border-color: transparent;
    position: relative;
}
#u175-15 {
    z-index: 23;
    background-color: transparent;
    color: #0E173E;
    position: relative;
}
#u190-14 {
    z-index: 38;
    background-color: transparent;
    color: #0E173E;
    position: relative;
}
#u193-13 {
    z-index: 52;
    background-color: transparent;
    color: #0E173E;
    position: relative;
}
#u175-2,
#u175-3,
#u175-9,
#u190-2,
#u190-8,
#u193-2,
#u193-3,
#u193-8,
#u193-9 {
    font-weight: 700;
    font-family: kulturista-web, serif;
}
#u175-5,
#u175-6,
#u175-7,
#u175-10,
#u175-12,
#u175-13,
#u190-3,
#u190-5,
#u190-6,
#u190-9,
#u190-11,
#u190-12,
#u193-5,
#u193-6,
#u193-11 {
    font-weight: 400;
    font-family: kulturista-web, serif;
}
#u361-6 {
    font-family: kulturista-web, serif;
    font-weight: 700;
    text-align: center;
    z-index: 65;
    background-color: transparent;
    color: #0F183F;
    position: relative;
}
#u5234 {
    z-index: 75;
    background-color: transparent;
    position: relative;
}
#u5235 {
    z-index: 76;
    display: block;
}
#u5995-4 {
    font-family: kulturista-web, serif;
    font-weight: 400;
    margin-right: -10000px;
    z-index: 83;
    background-color: transparent;
    color: #0F183F;
    position: relative;
}
#u4996 {
    top: 20px;
    z-index: 73;
    background-color: transparent;
    position: fixed;
}
#u4994 {
    z-index: 74;
    display: block;
}
.html {
    background-color: #E63C43;
}
body {
    position: relative;
}
@media (min-width: 961px),
print {
    #muse_css_mq {
        background-color: #FFFFFF;
    }
    #bp_infinity.active {
        display: block;
    }
    #page {
        min-height: 3487px;
        max-width: 1500px;
    }
    #pu5771 {
        z-index: 77;
        margin-right: -10000px;
        margin-top: 853px;
        width: 96%;
        margin-left: 2.01%;
    }
    #u5771 {
        width: 100%;
        margin-left: 0%;
        left: -2.842170943040401e-14px;
    }
    #u5808 {
        margin-top: 853px;
        width: 100%;
        margin-left: 0%;
        left: -2.842170943040401e-14px;
    }
    #u5854 {
        margin-top: 838px;
        width: 100%;
        margin-left: 0%;
        left: -2.842170943040401e-14px;
    }
    #u6137 {
        margin-top: 864px;
        width: 100%;
        margin-left: 0%;
        left: -2.842170943040401e-14px;
    }
    #u101-6 {
        width: 248px;
        min-height: 34px;
        line-height: 29px;
        font-size: 24px;
        left: 35px;
    }
    #pu94-4 {
        z-index: 2;
        padding-bottom: 0px;
        margin-right: -10000px;
        margin-top: 532px;
        width: 64.27%;
        margin-left: 17.87%;
    }
    #u94-4 {
        width: 866px;
        min-height: 51px;
        line-height: 72px;
        font-size: 60px;
        left: -433.00000000000006px;
    }
    #u4253 {
        width: 964px;
        margin-top: 1207px;
        margin-left: 50%;
        left: -482.00000000000006px;
    }
    #u175-15 {
        width: 286px;
        min-height: 739px;
        line-height: 19px;
        font-size: 16px;
        margin-right: -10000px;
        margin-left: 50%;
        left: -482px;
    }
    #u190-14 {
        width: 286px;
        min-height: 720px;
        line-height: 19px;
        font-size: 16px;
        margin-right: -10000px;
        margin-left: 50%;
        left: -143px;
    }
    #u193-13 {
        width: 286px;
        min-height: 720px;
        line-height: 19px;
        font-size: 16px;
        margin-right: -10000px;
        margin-left: 50%;
        left: 195px;
    }
    #pu2743-4 {
        z-index: 16;
        margin-right: -10000px;
        margin-top: 994px;
        width: 50.4%;
        margin-left: 24.8%;
    }
    #u2743-4 {
        min-height: 30px;
        line-height: 22px;
        font-size: 18px;
        width: 89.95%;
        margin-left: 5.03%;
    }
    #u136 {
        margin-top: 34px;
        width: 100%;
    }
    #pu1107 {
        padding-bottom: 0px;
        margin-top: 165px;
        width: 36%;
        margin-left: 32%;
    }
    #u1107 {
        width: 258px;
        margin-left: 50%;
        left: -129px;
    }
    #u1108 {
        margin-bottom: 22px;
    }
    #u319-4 {
        min-height: 30px;
        line-height: 22px;
        font-size: 18px;
        margin-top: 1048px;
        width: 100%;
        margin-left: 0%;
        left: 0px;
    }
    #u361-6 {
        min-height: 51px;
        line-height: 58px;
        font-size: 48px;
        margin-top: 1372px;
        width: 90%;
        margin-left: 5%;
        left: 0px;
    }
    #u5234 {
        margin-top: 56px;
        width: 8.52%;
        margin-left: 45.75%;
        left: 0px;
    }
    #u5235 {
        width: 100%;
    }
    #u6009-4 {
        width: 165px;
        min-height: 14px;
        line-height: 13px;
        font-size: 11px;
        margin-top: 3456px;
        margin-left: 100%;
        left: -345px;
    }
    #u5995-4 {
        width: 103px;
        min-height: 14px;
        line-height: 13px;
        font-size: 11px;
        margin-top: 3456px;
        margin-left: 100%;
        left: -139px;
    }
    #u4996 {
        width: 34px;
        right: 31px;
    }
    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 3506px);
    }
}
@media (min-width: 461px) and (max-width: 960px) {
    #muse_css_mq {
        background-color: #0003c0;
    }
    #bp_960.active {
        display: block;
    }
    #page {
        min-height: 2875px;
        max-width: 960px;
    }
    #pu5808 {
        z-index: 79;
        padding-bottom: 0px;
        margin-right: -10000px;
        margin-top: 629px;
        width: 96.25%;
        margin-left: 1.88%;
    }
    #u5808 {
        width: 99.79%;
        margin-left: 0.11%;
        left: 1.0658141036401503e-14px;
    }
    #u5771 {
        margin-top: 680px;
        width: 99.79%;
        margin-left: 0.11%;
        left: 1.0658141036401503e-14px;
    }
    #u5854 {
        margin-top: 1073px;
        width: 99.79%;
        margin-left: 0.11%;
        left: 1.0658141036401503e-14px;
    }
    #u6137 {
        margin-top: 904px;
        width: 99.79%;
        margin-left: 0.11%;
        left: -1.9999999999999893px;
    }
    #u101-6 {
        width: 241px;
        min-height: 34px;
        line-height: 29px;
        font-size: 24px;
        left: 30px;
    }
    #u4253 {
        margin-right: -10000px;
        margin-top: 1447px;
        width: 89.8%;
        left: 5.11%;
    }
    #u175-15 {
        min-height: 561px;
        line-height: 19px;
        font-size: 16px;
        margin-right: -10000px;
        width: 29.82%;
    }
    #u190-14 {
        min-height: 720px;
        line-height: 19px;
        font-size: 16px;
        margin-right: -10000px;
        width: 29.82%;
        left: 35.04%;
    }
    #u193-13 {
        min-height: 537px;
        line-height: 19px;
        font-size: 16px;
        margin-right: -10000px;
        width: 29.82%;
        left: 70.19%;
    }
    #pu1107 {
        padding-bottom: 0px;
        margin-top: 155px;
        width: 59.8%;
        margin-left: 20.11%;
    }
    #u1107 {
        width: 32.06%;
        margin-left: 33.98%;
        left: 6px;
    }
    #u1108 {
        width: 92.94%;
    }
    #u94-4 {
        width: 547px;
        min-height: 44px;
        line-height: 58px;
        font-size: 48px;
        margin-top: 38px;
        left: -274px;
    }
    #u2743-4 {
        width: 574px;
        min-height: 30px;
        line-height: 22px;
        font-size: 18px;
        margin-top: 312px;
        margin-left: 50%;
        left: -292px;
    }
    #u136 {
        margin-top: 45px;
        width: 84.33%;
        margin-left: 7.84%;
        left: 0px;
    }
    #u319-4 {
        width: 515px;
        min-height: 30px;
        line-height: 22px;
        font-size: 18px;
        margin-top: 45px;
        margin-left: 50%;
        left: -258px;
    }
    #u361-6 {
        min-height: 51px;
        line-height: 58px;
        font-size: 48px;
        margin-top: 1550px;
        width: 91.64%;
        margin-left: 4.19%;
        left: 1px;
    }
    #u5234 {
        margin-top: 55px;
        width: 5.93%;
        margin-left: 47.04%;
        left: 1px;
    }
    #u5235 {
        width: 100%;
    }
    #u6009-4 {
        min-height: 20px;
        line-height: 13px;
        font-size: 11px;
        margin-top: 3324px;
        width: 20%;
        left: 60.42%;
    }
    #u5995-4 {
        min-height: 20px;
        line-height: 13px;
        font-size: 11px;
        margin-top: 3324px;
        width: 13.34%;
        left: 83.65%;
    }
    #u4996 {
        width: 34px;
        right: 29px;
    }
    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 3362px);
    }
    body {
        overflow-x: hidden;
    }
}
@media (max-width: 460px) {
    #muse_css_mq {
        background-color: #0001cc;
    }
    #bp_460.active {
        display: block;
    }
    #page {
        min-height: 2560px;
        max-width: 460px;
    }
    #pu6137 {
        z-index: 91;
        padding-bottom: 0px;
        margin-right: -10000px;
        margin-top: 559px;
        width: 96.09%;
        margin-left: 1.96%;
    }
    #u6137 {
        width: 100%;
        margin-left: 0%;
        left: 0px;
    }
    #u5854 {
        margin-top: 526px;
        width: 100%;
        margin-left: 0%;
        left: 0px;
    }
    #u5771 {
        margin-top: 1150px;
        width: 100%;
        margin-left: 0%;
        left: 0px;
    }
    #u5808 {
        margin-top: 493px;
        width: 100%;
        margin-left: 0%;
        left: 0px;
    }
    #u101-6 {
        width: 143px;
        min-height: 22px;
        font-size: 14px;
        left: 20px;
    }
    #u6009-4 {
        min-height: 15px;
        line-height: 11px;
        font-size: 9px;
        margin-top: 2752px;
        width: 38.27%;
        left: 4.35%;
    }
    #pu2743-4 {
        z-index: 16;
        padding-bottom: 0px;
        margin-right: -10000px;
        margin-top: 648px;
        width: 83.92%;
        margin-left: 8.05%;
    }
    #u2743-4 {
        min-height: 39px;
        font-size: 14px;
        width: 100%;
        margin-left: 0%;
        left: -1.999999999999993px;
    }
    #u319-4 {
        min-height: 39px;
        font-size: 14px;
        margin-top: 235px;
        width: 97.41%;
        margin-left: 1.3%;
        left: -1.999999999999993px;
    }
    #u136 {
        margin-right: -10000px;
        margin-top: 708px;
        width: 80.66%;
        left: 9.57%;
    }
    #pu1107 {
        margin-top: 158px;
        width: 70.87%;
        margin-left: 14.57%;
    }
    #u1107 {
        width: 46.32%;
        margin-left: 26.85%;
        left: -2.9999999999999716px;
    }
    #u1108 {
        margin-bottom: 2.6490066225165565%;
        width: 100%;
    }
    #u94-4 {
        width: 267px;
        min-height: 41px;
        line-height: 36px;
        font-size: 30px;
        margin-top: 33px;
        left: -133.99999999999997px;
    }
    #u4253 {
        width: 280px;
        padding-bottom: 0px;
        margin-top: 762px;
        margin-left: 50%;
        left: -139.99999999999997px;
    }
    #u175-15 {
        width: 280px;
        min-height: 298px;
        line-height: 14px;
        font-size: 12px;
        margin-left: 50%;
        left: -140px;
    }
    #u190-14 {
        width: 280px;
        min-height: 392px;
        line-height: 14px;
        font-size: 12px;
        margin-top: 14px;
        margin-left: 50%;
        left: -140px;
    }
    #u193-13 {
        width: 280px;
        min-height: 333px;
        line-height: 14px;
        font-size: 12px;
        margin-top: 14px;
        margin-left: 50%;
        left: -140px;
    }
    #u361-6 {
        min-height: 76px;
        line-height: 36px;
        font-size: 30px;
        margin-top: 174px;
        width: 100%;
        margin-left: 0%;
        left: 2.842170943040401e-14px;
    }
    #u5234 {
        width: 30px;
        margin-top: 48px;
        margin-left: 50%;
        left: -14.999999999999972px;
    }
    #u5995-4 {
        min-height: 15px;
        line-height: 11px;
        font-size: 9px;
        margin-top: 2752px;
        width: 23.27%;
        left: 72.4%;
    }
    #u4996 {
        width: 30px;
        right: 29px;
    }
    #u4994 {
        margin-bottom: 4px;
    }
    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 2785px);
    }
    body {
        overflow-x: hidden;
        min-width: 320px;
    }
}